*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    height: 100vh;
    overflow-x: hidden;
    padding: 20px;
}

.container{
    height: 100%;
    margin: 0 auto;
    /* display: flex; */
    max-width: 1200px;
    padding: 20px;
}

h1{
    margin: 20px 0;
    text-align: center;
    margin-bottom: 20px;
    font-size: 3rem;
    font-family: 'Rowdies', cursive;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card{
    width: 32%;
    position: relative;
    margin-bottom: 20px;
    border-radius: 20px;
    overflow: hidden;
}

img{
    height: 100%;
    width: 100%;
    filter: grayscale(100%);
    box-shadow: 0 0 20px #333;
    object-fit: cover;
}

.card:hover{
    transform: scale(1.03);
    filter: drop-shadow(0 0 10px #333);
    transition: 0.5s;
    /* filter: grayscale(0%); */
}

img:hover{
    filter: grayscale(0%);
}

figcaption{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 25px;
    width: 100%;
    height: 20%;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    opacity: 0;
    border-radius: 0 0 10px 10px;
    background:linear-gradient(0deg, rgba(0,0,0,0) 8%, rgba(255,255,255,0) 100%);
    transition: 0.3s;
}

figcaption:hover{
    opacity: 1;
    transform: scale(1.03);
    
}

