
/* unvisited link */
a:link {
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  
  /* visited link */
  a:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  
  /* selected link */
  a:active {
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  

  
  .nav {
    border-style: solid;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    text-align: center;
  }
  
  .profile {
    border-style: solid ;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    text-align: center;
  
    

  }

.profile1 {
  border-style: solid ;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}